@import url("home.css");
@import url("informacoes.css");
@import url("social.css");
@import url("footer.css");

:root {
    --plano-de-fundo: #FFFFF1;
    --preto: #000;
    --branco: #FFF;
    --cabecalho: #A0948F;
    --amarelo: #F7EBCA;
    --cinza: #D9D9D9;
    --rodape: #2D2D2D;
}

body {
    background-color: var(--plano-de-fundo);
}

.cabeçalho {
    height: 137px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cabecalho);
}

.img_header {
    width: 15%;
    padding: 1.5em;
}

.opcoes {
    list-style: none;
    display: flex;
    margin: auto;
    width: 50%;
}

.texto_cabecalho {
    padding: 1em;
    color: var(--branco);
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

a:link, a:visited {
    text-decoration: none !important;
    color: #fff;
}


@media screen and (max-width: 428px) {
    .cabeçalho {
        height: 70px;
    }
    .img_header {
        width: 26%;
        padding: 0.5em;
    }
    .opcoes {
        width: 70%;
    }
    #texto_cabecalho {
        font-size: 9px;
        font-family: 'Inter', sans-serif;
    }
}

